<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>shareit</display-name>
  <welcome-file-list>
    <welcome-file>trang-chu</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewController</servlet-name>
    <servlet-class>controller.AdminIndexNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewController</servlet-name>
    <url-pattern>/admin/new/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactController</servlet-name>
    <servlet-class>controller.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewController</servlet-name>
    <servlet-class>controller.AdminAddNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewController</servlet-name>
    <url-pattern>/admin/new/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewController</servlet-name>
    <servlet-class>controller.AdminDelNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewController</servlet-name>
    <url-pattern>/admin/new/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewController</servlet-name>
    <servlet-class>controller.AdminEditNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewController</servlet-name>
    <url-pattern>/admin/new/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/chi-tiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/lien-he</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicNotFoundController</servlet-name>
    <servlet-class>controller.PublicNotFoundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNotFoundController</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchNewController</servlet-name>
    <servlet-class>controller.AdminSearchNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchNewController</servlet-name>
    <url-pattern>/searchNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminXuLyActiveNewController</servlet-name>
    <servlet-class>controller.AdminXuLyActiveNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminXuLyActiveNewController</servlet-name>
    <url-pattern>/xu-ly-active-new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexSlideController</servlet-name>
    <servlet-class>controller.AdminIndexSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexSlideController</servlet-name>
    <url-pattern>/admin/slide/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminXuLyActiveSlideController</servlet-name>
    <servlet-class>controller.AdminXuLyActiveSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminXuLyActiveSlideController</servlet-name>
    <url-pattern>/xu-ly-active-slide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddSlideController</servlet-name>
    <servlet-class>controller.AdminAddSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddSlideController</servlet-name>
    <url-pattern>/admin/slide/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditSlideController</servlet-name>
    <servlet-class>controller.AdminEditSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSlideController</servlet-name>
    <url-pattern>/admin/slide/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelSlideController</servlet-name>
    <servlet-class>controller.AdminDelSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelSlideController</servlet-name>
    <url-pattern>/admin/slide/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicXuLyCommentController</servlet-name>
    <servlet-class>controller.PublicXuLyCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicXuLyCommentController</servlet-name>
    <url-pattern>/xu-ly-comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCmtController</servlet-name>
    <servlet-class>controller.AdminIndexCmtController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCmtController</servlet-name>
    <url-pattern>/admin/comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminXuLyActiveCmtController</servlet-name>
    <servlet-class>controller.AdminXuLyActiveCmtController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminXuLyActiveCmtController</servlet-name>
    <url-pattern>/xu-ly-active-cmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicAboutController</servlet-name>
    <servlet-class>controller.PublicAboutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAboutController</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/library/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
</web-app>